@charset "utf-8";

@font-face {
  font-family: louislight;
  src: url(fonte/Louis\ George\ Cafe\ Light.ttf);
}
@font-face {
  font-family: louisnormal;
  src: url(fonte/Louis\ George\ Cafe.ttf);
}

@font-face {
  font-family: louisbold;
  src: url(fonte/Louis\ George\ Cafe\ Bold.ttf);
}

*{
    padding: 0px;
    margin: 0px;
}

  a{
    color: gray;
    text-decoration: none;
    transition: 0.4s;
  }

  a:hover{
    opacity: 0.6;
  }


  .thica{
  background: url(imagem/marca\ thialy\ 2022.png) no-repeat;
  background-size: contain;
  width: 160px;
  height: 90px;
  margin: 10px 0 0 -40px ;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcedec;
    box-shadow: 3px -4px 7px 0px rgba(162, 162, 162, 0.563) inset;
    height: 100px;
    z-index: 13;
    
  }

  .nav-list{
    list-style: none;
    display: flex;
    
    
  }

  .nav-list li{
    letter-spacing: 3px;
    margin-left: 30px;
    
  }

  .mobile-menu{
    display: none;
    cursor: pointer;
  }

  .mobile-menu div {
    width: 30px;
    height: 2px;
    background: gray;
    margin: 8px;
    transition: 0.3s;
  }

  @media (max-width: 999px){

    
    body{
        overflow-x: hidden;
        background-color: #fcedec;
    }
    main{
      background-color: #fcedec;
      
    }
    a{
        color: rgb(0, 0, 0);
        font-size: 0.9em;
        text-decoration: none;
        transition: 0.3s;
      }

    .nav-list{
        position: absolute;
        top: 10.5vh;
        right: 0;
        width: 40vw;
        height: 300px;
        background: rgba(255, 255, 255, 0.611);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 10;
        
    }

    .nav-list li{
        margin-left: 0;
        
       
    }

    .mobile-menu{
        display: block;
      
    }

    .nav-list.active{
        transform: translateX(0);
        height: 300px;
    }
  }


  @keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
  }

/* aqui comeca o carrosel*/
  article{
    margin-top: 0px;
    padding: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
  margin: 0 auto;
  width: 100vw;
  height: 300px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 100%;
}

.manual-navigation{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 0.5px solid white;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: .05s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;

}
.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 0.5px solid blanchedalmond;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}

.navigation-auto{
  position: absolute;
  width: 100%;
  margin-top: 260px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:Last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}
/*aqui termina o carrosel*/

.quemsoueu{
  position: relative;
  
}
.h11{
  text-align: center;
  font-family: louislight;
  color: #7D5350;
  font-size: 2.2em;
  
  margin: 60px 0 60px 0;
  

}
.fotothica{
  background-color: white;
  justify-content: center;
  display: flex;
  height: 300px;

}

.thicafoto{
  position: absolute;
  width: 480px;
  height: 300px;
  box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.21);


}

p{
  font-family: louislight;
  text-align: center;
  padding: 20px;
  color: #7D5350;
  
  
}

.servicos{
  margin-top: 50px;
background: url(imagem/sectionservicos2.png) no-repeat;
background-size: cover;
  width: 100%;
  height: 1300px;
  display: inline-block;
  justify-content: center;
}

.serv{
  text-align: center;
  font-family: louislight;
  color: #7D5350;
  font-size: 2.2em;
  margin: 30px 0 50px 0;

}

.imgserv1{
  background: url(imagem/servico2.png) no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
}

.imgserv2{
  background: url(imagem/servico01.png) no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
}

.imgserv3{
  background: url(imagem/servico3.png) no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
}

.imgserv4{
  background: url(imagem/servico4.png) no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
}

.linha{
  width: 80%;
  height: 2px;
  background-color: #7d767545;
  margin: auto;
}

.cursos{
  background-color: #fcedec;
  width: 100%;
  height: 400px;
  

 
}

.curso{
  text-align: center;
  font-family: louislight;
  color:  #7D5350;
  font-size: 2.2em;
  margin: 80px 0 80px 0;
  position: relative;

}

.flex{
  display: flex;
  justify-content: space-around;
}

.cur01{
  background: url(imagem/curso01.png) no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  display: flex;

  
}

.cur02{
  background: url(imagem/curso02.png) no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  display: flex;
 
}

.agende{
  background: url(imagem/agende.png) no-repeat;
  background-size: cover;
  background-color: #fcedec;
  width: 100%;
  height: 400px;
}
.agen{
  padding-top: 30px;
  text-align: center;
  font-family: louislight;
  color:  black;
  font-size: 2.2em;
  margin: 80px 0 80px 0;
  position: relative;
}


/*EFEITO BOTAO*/
div#botao{
    
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.button {
  
  background-color: #fcedec; /* Cor de fundo do botão */
  border: none;
  margin-top: 50px;
  color: black; /* Cor do texto do botão */
  padding: 15px 32px; /* Espaçamento interno do botão */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  animation: bounce 1s infinite;
}
a#click{
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  color: #7D5350;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

footer{
  background-color: black;
  width: 100%;
  height: 300px;
}