@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

header.fixo{
    background-color: #fcedec;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 3px -4px 7px 0px rgba(0, 0, 0, 0.211)   inset;
    
    
  }
  
  .marcafixo{
  background: url(imagem/marca\ thialy\ 2022.png) no-repeat;
  background-size: contain;
  background-position: left center;
  width: 100%px;
  height: 80px;
  margin: 10px 10px 0px 20px ;
  
  
  }